# Diamond Company Analytics Challenge

**Time:** 35 minutes

**Scenario:** You are the new data analyst at a prestigious diamond company. The CEO has called an urgent meeting and needs answers to critical business questions about the inventory.

**Your Mission:** Analyze the diamond inventory data and provide insights to guide strategic decisions.

In [2]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

Loading diamonds dataset...
Dataset loaded successfully!

## Section 1: Initial Inventory Assessment (5 minutes)

The CEO walks in: "Before we dive into specifics, I need to understand what we're working with. Give me the basics about our inventory database."

### Question 1: "How extensive is our inventory database?"

The CEO needs to know the scale of data you're analyzing.

In [3]:
# Your code here:

print(f"Shape: {df.shape}")
print(f"Columns: {df.columns}")

# Display first 5 rows
df.head()

Shape: (6000, 8)
Columns: ['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry', 'Report', 'Price']

shape: (5, 8)
┌──────────────┬───────┬───────┬─────────┬────────┬──────────┬────────┬───────┐
│ Carat Weight ┆ Cut   ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price │
│ ---          ┆ ---   ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---   │
│ f64          ┆ str   ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64   │
╞══════════════╪═══════╪═══════╪═════════╪════════╪══════════╪════════╪═══════╡
│ 1.1          ┆ Ideal ┆ H     ┆ SI1     ┆ VG     ┆ EX       ┆ GIA    ┆ 5169  │
│ 0.83         ┆ Ideal ┆ H     ┆ VS1     ┆ ID     ┆ ID       ┆ AGSL   ┆ 3470  │
│ 0.85         ┆ Ideal ┆ H     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3183  │
│ 0.91         ┆ Ideal ┆ E     ┆ SI1     ┆ VG     ┆ VG       ┆ GIA    ┆ 4370  │
│ 0.83         ┆ Ideal ┆ G     ┆ SI1     ┆ EX     ┆ EX       ┆ GIA    ┆ 3171  │
└──────────────┴───────┴───────┴─────────┴────────┴──────────┴────────┴───────┘

### Question 2: "What information do we track about each diamond?"

List all the characteristics we record.

In [4]:
# Your code here:

print(f"Schema: {df.schema}")

Schema: Schema([('Carat Weight', Float64), ('Cut', String), ('Color', String), ('Clarity', String), ('Polish', String), ('Symmetry', String), ('Report', String), ('Price', Int64)])

### Question 3: "When I look at one line in this database, what am I looking at?"

Explain in business terms:

**Your answer:** Each row represents a diamond's characteristics

## Section 2: Strategic Business Questions (20 minutes)

The CEO continues: "Now let's get to the important questions. Our board meeting is tomorrow and I need concrete numbers."

### Question 4: "We're considering expanding our storage facilities. How many total carats do we have in inventory? I need to know if our vaults can handle the weight."

Think about what measurement would help answer this.

In [5]:
# Your code here:

Total_diamonds = len(df)
Total_diamonds

6000

### Question 5: "Our new marketing campaign claims we have 'the widest variety of cuts in the industry.' Can you verify this?"

The CEO wants to know about variety, not quantity.

In [6]:
# Your code here:

cut_variety = df.group_by("Cut").agg(pl.col("Cut").count().alias("cut_count"))

cut_variety

shape: (5, 2)
┌─────────────────┬───────────┐
│ Cut             ┆ cut_count │
│ ---             ┆ ---       │
│ str             ┆ u32       │
╞═════════════════╪═══════════╡
│ Fair            ┆ 129       │
│ Signature-Ideal ┆ 253       │
│ Good            ┆ 708       │
│ Very Good       ┆ 2428      │
│ Ideal           ┆ 2482      │
└─────────────────┴───────────┘

### Question 6: "I'm meeting with our insurance company. They need to know our price exposure - what's our most and least valuable diamond?"

In [7]:
# Your code here:

Least_valuable = df.sort("Price").head(1)
Most_valuable = df.sort("Price", descending=True).head(1)

Least_valuable
print(f"Least valuable diamond: {Least_valuable}")
print(f"Most valuable diamond: {Most_valuable}")

Least valuable diamond: shape: (1, 8)
┌──────────────┬──────┬───────┬─────────┬────────┬──────────┬────────┬───────┐
│ Carat Weight ┆ Cut  ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price │
│ ---          ┆ ---  ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---   │
│ f64          ┆ str  ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64   │
╞══════════════╪══════╪═══════╪═════════╪════════╪══════════╪════════╪═══════╡
│ 0.77         ┆ Good ┆ I     ┆ VS1     ┆ VG     ┆ G        ┆ AGSL   ┆ 2184  │
└──────────────┴──────┴───────┴─────────┴────────┴──────────┴────────┴───────┘
Most valuable diamond: shape: (1, 8)
┌──────────────┬───────┬───────┬─────────┬────────┬──────────┬────────┬────────┐
│ Carat Weight ┆ Cut   ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price  │
│ ---          ┆ ---   ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---    │
│ f64          ┆ str   ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64    │
╞══════════════╪═══════╪═══════╪═════════╪════════╪══════════╪════════╪════════╡
│ 2.79         ┆ Ideal ┆ D     ┆ IF      ┆ EX     ┆ EX       ┆ GIA    ┆ 101561 │
└──────────────┴───────┴───────┴─────────┴────────┴──────────┴────────┴────────┘

### Question 7: "Which color grades should we focus on in our premium line? I need typical prices across our color spectrum."

The CEO wants to understand pricing patterns.

In [8]:
# Your code here:

diamond_trends_by_color = df.group_by("Color").agg(
    pl.col("Price").mean().alias("Average_Price")
)

diamond_trends_by_color

shape: (6, 2)
┌───────┬───────────────┐
│ Color ┆ Average_Price │
│ ---   ┆ ---           │
│ str   ┆ f64           │
╞═══════╪═══════════════╡
│ E     ┆ 11539.190231  │
│ D     ┆ 15255.783661  │
│ I     ┆ 8989.636364   │
│ G     ┆ 12520.050633  │
│ H     ┆ 10487.347544  │
│ F     ┆ 12712.241856  │
└───────┴───────────────┘

**Reflection:** After analyzing by color, how has your view of the data changed? What does each row in your result represent now?

**Your answer:** New grain = average price of diamonds across selection

## Section 3: Advanced Strategic Analysis (10 minutes)

The CEO leans forward: "These next questions will shape our strategy for next year."

### Question 8: "We're thinking of specializing in certain clarity grades. For our investor deck, I need a complete breakdown showing: how many diamonds we have in each clarity grade, their typical price, and the total carats we're holding for each grade."

In [9]:
# Your code here:

diamond_investor_deck = df.group_by("Clarity").agg(
    pl.col("Clarity").count().alias("Diamond_Count"),
    pl.col("Price").mean().alias("Average_Price"),
    pl.col("Carat Weight").sum().alias("Total_Carat")
)

diamond_investor_deck

shape: (7, 4)
┌─────────┬───────────────┬───────────────┬─────────────┐
│ Clarity ┆ Diamond_Count ┆ Average_Price ┆ Total_Carat │
│ ---     ┆ ---           ┆ ---           ┆ ---         │
│ str     ┆ u32           ┆ f64           ┆ f64         │
╞═════════╪═══════════════╪═══════════════╪═════════════╡
│ VS2     ┆ 1575          ┆ 11809.053333  ┆ 2170.81     │
│ SI1     ┆ 2059          ┆ 8018.864012   ┆ 2563.69     │
│ IF      ┆ 219           ┆ 22105.844749  ┆ 316.0       │
│ VS1     ┆ 1192          ┆ 13694.113255  ┆ 1682.74     │
│ VVS2    ┆ 666           ┆ 14142.177177  ┆ 876.58      │
│ VVS1    ┆ 285           ┆ 16845.680702  ┆ 389.43      │
│ FL      ┆ 4             ┆ 63776.0       ┆ 7.87        │
└─────────┴───────────────┴───────────────┴─────────────┘

### Question 9: "My luxury competitor claims they have the best prices for every cut-color combination. Show me our pricing structure across these combinations - I want to see where we're competitive."

In [10]:
# Your code here:

cut_color_pricing = df.group_by(["Cut", "Color"]).agg(
    pl.col("Price").mean().alias("Average_Price")
).sort(["Cut", "Color"])

cut_color_pricing

shape: (30, 3)
┌───────────┬───────┬───────────────┐
│ Cut       ┆ Color ┆ Average_Price │
│ ---       ┆ ---   ┆ ---           │
│ str       ┆ str   ┆ f64           │
╞═══════════╪═══════╪═══════════════╡
│ Fair      ┆ D     ┆ 6058.25       │
│ Fair      ┆ E     ┆ 5370.625      │
│ Fair      ┆ F     ┆ 6063.625      │
│ Fair      ┆ G     ┆ 7345.52381    │
│ Fair      ┆ H     ┆ 5908.5        │
│ …         ┆ …     ┆ …             │
│ Very Good ┆ E     ┆ 12101.910217  │
│ Very Good ┆ F     ┆ 12413.905495  │
│ Very Good ┆ G     ┆ 12354.013841  │
│ Very Good ┆ H     ┆ 10056.106132  │
│ Very Good ┆ I     ┆ 8930.031332   │
└───────────┴───────┴───────────────┘

**Reflection:** How specific is your analysis now? What level of detail does each row represent?

**Your answer:** New grain =

### Question 10: URGENT - "Our biggest client is interested in purchasing entire inventory segments. They asked: 'Which color-cut combinations represent your highest total inventory value?' Show me the top 5 most valuable inventory segments by total worth, and include how many diamonds are in each segment."

This is critical for tomorrow's negotiation.

In [11]:
# Your code here:

top_5_segments = df.group_by(["Cut", "Color"]).agg(
    pl.col("Price").sum().alias("Total_Value"),
    pl.col("Cut").count().alias("Diamond_Count") # Use count on any column within the group
).sort("Total_Value", descending=True).head(5)

top_5_segments

shape: (5, 4)
┌───────────┬───────┬─────────────┬───────────────┐
│ Cut       ┆ Color ┆ Total_Value ┆ Diamond_Count │
│ ---       ┆ ---   ┆ ---         ┆ ---           │
│ str       ┆ str   ┆ i64         ┆ u32           │
╞═══════════╪═══════╪═════════════╪═══════════════╡
│ Ideal     ┆ G     ┆ 9363514     ┆ 690           │
│ Very Good ┆ G     ┆ 7140620     ┆ 578           │
│ Very Good ┆ F     ┆ 5648327     ┆ 455           │
│ Ideal     ┆ F     ┆ 5346782     ┆ 363           │
│ Ideal     ┆ H     ┆ 5279687     ┆ 458           │
└───────────┴───────┴─────────────┴───────────────┘

## Debrief

Congratulations! You've just completed your first day as the diamond company's data analyst.

Remember:
- CEOs speak in business language, not technical terms
- Always understand what each row represents before analyzing
- Business questions contain clues about which operations to use